data/*
figures/*
outputs/*

old/*
old2/*

*/old/*
*/old2/*

cluster_advice.md
*.code-workspace
*.toml
*.cfg

*.egg-info/
__pycache__/

dist/
*ipynb_checkpoints/

# want nbs shared across devices
# notebooks/*
# *.ipynb

notebooks/old
.sh

*.xlsx
*.json

*.DS_Store

*.log

joblib_cache/