data/*
!data/03_model_inputs

data/03_model_inputs/*
!data/03_model_inputs/Params

!data/04_justification

pickled

figures

logs

*.egg-info/
__pycache__/

dist/
# *.py[cod]
*ipynb_checkpoints/

notebooks/*
*.ipynb

TODO.md

*.log

joblib_cache/